.PlayersName {
    margin-top: 1.5rem;
    font-size: 45px;
}

.PlayersColor {
    margin-top: 3rem;
    text-align: center;
   
}

.Timer {
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 10px 10px;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 85px;
    font-weight: 200;
}

.PlayersButton {
    text-align: center;
}

.PlayersButton button{
    text-align: center;
    width: 200px;
    height: 45px;
}