.Settings {
    background-color: #343a40;
    padding: 35px;
}

.Settings button {
    width: 200px;
}

.SettingsButton {
    text-align: center;
}

#formLabel {
    color: wheat;
    font-size: 20px;
    margin-bottom: 0;
}

#formInput {
    color:rgb(209, 141, 141);
    font-size: 25px;
    font-style: italic;
    border-bottom: 1px solid wheat;
}

#playerOne-black {
    margin-left: 15px;
}
#playerTwo-black {
    margin-left: 15px;
}

input[type="radio"],
label.form-check-label,
.form-check.form-check-inline {
    cursor: pointer;
}
